$connector-height: 12px;
$connector-line: 2px solid var(--bs-border-color);

.bg-secondary-light {
  background-color: var(--bs-secondary-bg) !important;
}

.plan-container {
  font-family: $font-family-sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .menu {
    position: absolute;
    z-index: 1;

    &-hidden {
      ul,
      h3 {
        display: none;
      }
    }
    right: 0;
  }

  .grab-bing {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: -o-grab;
    cursor: grab;
  }

  .grab-bing:active {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: -o-grabbing;
    cursor: grabbing;
  }

  .text-secondary {
    color: var(--bs-secondary-color) !important;
  }

  .cursor-help {
    cursor: help;
  }

  pre {
    overflow: initial;
  }
}

.plan-stats {
  font-size: $font-size-base;

  .stat-dropdown-container {
    border: 1px solid var(--bs-border-color);
    padding: $padding-lg;
    background-color: var(--bs-body-bg);
    position: absolute;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    border-radius: $border-radius-base;
    margin-bottom: $padding-xl;
    z-index: 6;
    right: 0;
    width: 300px;
    max-height: 70vh;
    overflow: auto;

    h3 {
      font-size: $font-size-lg;
      width: 93%;
      text-align: left;
      border-bottom: 1px solid var(--bs-border-color);
      padding-bottom: $padding-base;
      margin-bottom: $padding-lg;
    }
  }
}

.tippy-popper .tippy-tooltip {
  text-align: left;
}
.tippy-popper .text-secondary {
  color: inherit !important;
}

.splitpanes {
  &__pane {
    transition: none !important;
  }

  &.default-theme {
    background-color: var(--bs-body-bg);

    .splitpanes__pane {
      background-color: var(--bs-body-bg);
    }

    .splitpanes__splitter {
      background-color: var(--bs-tertiary-bg);

      &:before,
      &:after {
        background-color: var(--bs-border-color);
      }
    }

    &.splitpanes--vertical > .splitpanes__splitter {
      border-left-color: var(--bs-border-color);
    }

    &.splitpanes--horizontal > .splitpanes__splitter {
      border-top-color: var(--bs-border-color);
    }
  }
}

.no-focus-outline:focus {
  outline: none;
}

.table-nonfluid {
  width: auto !important;
}

.more-info[title] {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--bs-secondary-color);
  cursor: help;
}

foreignObject {
  overflow: visible;
}

.never-executed {
  @extend %bg-hatched;
  & td {
    background-color: initial !important;
  }
}
