.plan-diagram {
  line-height: 0.85em;
  &.plan-diagram-top {
    max-height: 30%;
  }
  &.plan-diagram-left {
    table tr td:nth-child(2) {
      min-width: 200px;
    }
  }
  font-family: $font-family-sans-serif;

  .legend ul li {
    font-size: $font-size-base;
    span {
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
    }
  }

  table {
    cursor: pointer;
    border-collapse: collapse;
  }
  tbody {
    border-bottom: $padding-lg solid transparent;
  }
  th, td {
    margin: 0;
    color: $text-color;
    white-space: nowrap;

    &.node-type,
    &.subplan {
      font-size: $font-size-sm;
    }
    &.node-type {
      text-transform: uppercase;
    }
    &.subplan {
      font-style: italic;
    }
  }
  th {
    font-size: $font-size-base;
  }
}
