.plan-diagram {
  line-height: 0.85em;
  &.plan-diagram-top {
    max-height: 30%;
  }
  // make sure diagram right column takes as much width as possible
  table tr td:nth-child(2) {
    width: 90%;
  }
  font-family: $font-family-sans-serif;

  .legend ul li {
    font-size: $font-size-base;
    span {
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
    }
  }

  table {
    cursor: pointer;
    border-collapse: collapse;
  }
  tbody {
    border-bottom: $padding-lg solid transparent;
  }
  th, td {
    margin: 0;
    color: $text-color;
    white-space: nowrap;

    &.node-type,
    &.subplan {
      font-size: $font-size-sm;
    }
    &.node-type {
      text-transform: uppercase;
    }
  }
  th {
    font-size: $font-size-base;
  }

  tr {
    border: solid transparent;
    border-width: 0 2px;
  }

  tr.highlight {
    background-color: $flash-color;
    border-left-color: $highlight-color;
    border-right-color: $highlight-color;
  }

  .tree-lines {
    font-family: $font-family-mono;
  }
}
