$padding-base: 6px;
$padding-lg: 10px;
$padding-xl: 18px;

$font-size-base: 13px;
$font-size-sm: round($font-size-base * 0.9);
$font-size-lg: round($font-size-base * 1.3);

$font-family-sans-serif: "Noto Sans", sans-serif;

$blue: #00b5e2;
$dark-blue: #008caf;

$border-radius-base: 3px;

$highlight-color: $blue;
$highlight-color-dark: $dark-blue;

$severity-colors: (
  1: #ccc,
  2: #fddb61,
  3: #e80,
  4: #800,
) !default;
