# This workflow uploads index.html file to release assets

name: Release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Build 
      uses: actions/setup-node@v3
      with:
        node-version: 16.x 
        cache: 'npm'
    - run: npm ci
    - run: npm run build
    - name: Release
      uses: softprops/action-gh-release@v1
      with:
        files: dist-app/index.html
